/* #region Timer */
#timer { }
#timer>div.total {
    font-weight: bold;
    text-align: right;
}
#timer>div.date { 
   font-size: 1.75em;
}

.minutes { font-size: 1.75em; }
.seconds { font-size: 1em; }
/* #endregion */

/* #region Tasks*/
#tasks.list-group .list-group-item.active {
    background-color: #dff0d8;
}
#tasks.list-group .list-group-item.active,
#tasks.list-group .list-group-item.active .table,
#tasks.list-group .list-group-item.active .table thead > tr > th,
#tasks.list-group .list-group-item.active .table tbody > tr > td {
    border-color: #d6e9c6;
}

#tasks.list-group .list-group-item.active .table,
#tasks.list-group .list-group-item.active .table thead > tr > th,
#tasks.list-group .list-group-item.active .table tbody > tr > td {
    background-color: #dff0d8;
}

#tasks.list-group .list-group-item.active,
#tasks.list-group .list-group-item.active .list-group-item-text {
    color: #468847;
}



#tasks.list-group .list-group-item {
    padding: 0;
}

#tasks.list-group .list-group-item .list-group-item-body {
    padding: 10px 15px;
}

.list-group-item > .list-group-item-body + .table {
border-top: 1px solid #dddddd;
margin-bottom: 0;
}

/* #endregion */
