<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=CuckooTimer;User Id=BuildUser;Password=CuckooTimerBuild;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>